# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.ipynb_checkpoints/

# Virtual envs
.venv/
venv/
ENV*/
env/

# Builds / caches / logs
build/
dist/
.cache/
*.log

# OS/editor
.DS_Store
.vscode/
.idea/

# Local data
*.sqlite
*.db
.env
